@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: "Lato", sans-serif;
}

.line {
	content: "";
	display: inline-block;
	width: 50px;
	height: 1px;
	background: #555;
	vertical-align: top;
	margin-top: 9px;
	margin-right: 10px;
}

.page-body {
	padding: 5em;
	background-image: none;
}

.body-content {
	width: 100%;
}

li.nav-item {
	list-style-type: none;
}

@media only screen and (max-width: 768px) {
	.hide-sm {
		display: none;
		visibility: hidden;
	}

	.page-body {
		padding: 2em;
	}
}
