#contact {
	padding-top: 9em;
	padding-left: 20%;
	padding-right: 20%;
	height: 100vh;
}

#contact.black {
	background-color: #222831;
	color: #eeeeee;
}

.contact-form-container {
	display: flex;
	flex-direction: row;
}

li.link {
	list-style-type: none;
	margin: 5px;
	font-size: 35px;
}

a.link {
	color: #eee;
}

.field {
	margin: 5px;
	padding: 10px;
	outline: none;
	color: #222831;
}

.field::placeholder {
	color: #222831;
	opacity: 1;
}

.field:-ms-input-placeholder {
	color: #222831;
	opacity: 1;
}

.field::-ms-input-placeholder {
	color: #222831;
	opacity: 1;
}

.submit-button {
	padding: 10px;
	margin: 5px;
}

.field.message {
	height: 200px;
}

.field.message::placeholder {
	color: #222831;
}

.contact-form-container .contact-form {
	flex: 2;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.contact-form-container .links-section {
	flex: 1;
	padding-left: 1em;
	border-left: #eeeeee;
	padding: 0px;
}

.contact-form-container .links-container {
	display: flex;
	flex-direction: row;
	padding: 0px;
	width: fit-content;
	margin: 0 auto;
}

@media only screen and (max-width: 768px) {
	#contact {
		padding-top: 7em;
		width: 100%;
		padding-left: 10%;
		padding-right: 10%;
	}

	.contact-form-container {
		display: flex;
		flex-direction: column;
	}

	.contact-form {
		flex: 1;
	}

	.links-section {
		flex: 1;
	}
}
