#counter {
	width: 100%;
}

#counter.counter-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#counter .counter {
	display: flex;
	flex-direction: column;
	min-height: 200px;
	text-align: center;
}

#counter .counter-heading {
	font-size: 30px;
	margin-top: 30px;
	font-family: "Lato", sans-serif;
}

#counter .counter-value {
	font-size: 40px;
	font-weight: 900;
	font-family: "Lato", sans-serif;
}

@media only screen and (max-width: 768px) {
	#counter.counter-container {
		display: flex;
		flex-direction: column;
	}
}
