@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.title {
	margin-top: 1em;
	font-size: 80px;
	font-family: "Playfair Display", serif;
}

.sub-title {
	font-size: 22px;
	max-width: 500px;
	opacity: 0.7;
	flex-wrap: wrap;
	font-family: "Raleway", sans-serif;
	line-height: 1.5;
}

.heading {
	font-size: 14px;
	font-family: "Lato", sans-serif;
}

.sub-heading {
	font-size: 40px;
	margin-top: 20px;
	font-weight: 900;
	font-family: "Lato", sans-serif;
}

.text {
	font-size: 20px;
	margin-top: 10px;
	color: #888;
	flex-wrap: wrap;
	font-weight: 300;
	font-family: "Lato", sans-serif;
}

.uc_heading {
	margin-top: 210px;
	font-size: 50px;
	font-family: "Playfair Display", serif;
	text-align: right;
}

.uc_sub {
	font-size: 22px;
	opacity: 0.7;
	flex-wrap: wrap;
	font-family: "Raleway", sans-serif;
	text-align: center;
}

.links-section .heading {
	font-size: 33px;
	font-family: "Playfair Display", serif;
	text-align: end;
	font-weight: 900;
}

@media only screen and (max-width: 768px) {
	.sub-title {
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}

	.title {
		font-size: 40px;
		padding-top: 50%;
		text-align: center;
		margin: 0 auto;
	}

	.text {
		font-size: 15px;
		flex-wrap: wrap;
	}

	.sub-heading {
		font-size: 28px;
		font-weight: 900;
		font-family: "Lato", sans-serif;
	}

	.uc_heading {
		margin-top: 210px;
		font-size: 35px;
		font-family: "Playfair Display", serif;
		text-align: center;
	}
	
	.uc_sub {
		font-size: 17px;
		margin-top: 20px;
		font-family: "Raleway", sans-serif;
		text-align: center;
	}

	.links-section .heading {
		font-size: 33px;
		font-family: "Playfair Display", serif;
		text-align: center;
		font-weight: 900;
	}
	
}

