body {
  font-family: "Lato", sans-serif;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  font-size: 36px;
}

h2.profile-name {
  margin-bottom: 1px;
}

h3 {
  font-size: 28px;
}

.home-container {
  max-width: 700px;
}

.home-row-content {
  margin-left: 5px;
  margin-right: 5px;
}

.project-container {
  max-width: 700px;
  text-align: justify;
}

.project-row-content {
  margin-left: 5px;
  margin-right: 5px;
}

.work-container {
  max-width: 700px;
  text-align: justify;
}

.work-row-content {
  margin-left: 5px;
  margin-right: 5px;
}

li {
  font-size: 16px;
}

a {
  color: #258cdb;
}

a:hover {
  text-decoration: none;
  color: #2571db;
}

a:active {
  text-decoration: none;
}

a::selection {
  text-decoration: none;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 20px;
}

.gallery img {
  margin: 15px;
  width: 93%;
  filter: grayscale(100%);
  transition: 1s;
}

.gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.see-more-button {
  text-align: center;
  color: #258cdb;
  text-decoration: none;
  margin: 20px;
  margin-bottom: 40px;
}

.link-tab {
  margin: 0px;
  padding: 7px;
}

a.link-tab:hover {
  background-color: #f0f0f0;
}

a.link-tab.active {
  font-weight: bolder;
}
