body {
  --text-color: #222;
  --bkg-color: #fff;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

* {
  font-family: "Lato", sans-serif;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}

.dark-light-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 3%;
  color: var(--text-color);
  margin-bottom: 15px;
}

body {
  background-color: var(--bkg-color);
}

.container {
  background-color: var(--bkg-color);
}

.moon-and-sun {
  display: flex;
  align-items: center;
}

.heading-jumbtron {
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 10px;
  background-color: var(--bkg-color);
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
}

h2 {
  font-size: 36px;
  color: var(--text-color);
}

h2.profile-name {
  margin-bottom: 1px;
}

h3 {
  font-size: 28px;
  color: var(--text-color);
}

.home-container {
  max-width: 700px;
}

.home-row-content {
  margin-left: 5px;
  margin-right: 5px;
}

.project-container {
  max-width: 700px;
  text-align: justify;
}

.project-row-content {
  margin-left: 5px;
  margin-right: 5px;
}

.work-container {
  max-width: 700px;
  text-align: justify;
}

.hobbies-container {
  max-width: 700px;
  text-align: justify;
}


.work-row-content {
  margin-left: 5px;
  margin-right: 5px;
}

li {
  font-size: 16px;
  color: var(--text-color);
}

a {
  color: #258cdb;
}

a:hover {
  text-decoration: none;
  color: #2571db;
}

a:active {
  text-decoration: none;
}

a::selection {
  text-decoration: none;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 20px;
}

.gallery img {
  margin: 15px;
  width: 93%;
  filter: grayscale(100%);
  transition: 1s;
}

.gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.see-more-button {
  text-align: center;
  color: #258cdb;
  text-decoration: none;
  margin: 20px;
  margin-bottom: 40px;
}

.link-tab {
  margin: 0px;
  padding: 7px;
}

a.link-tab:hover {
  background-color: #f0f0f0;
}

a.link-tab.active {
  font-weight: bolder;
}
