body {
  font-family: "Lato", sans-serif;
}

p {
  font-size: 16px;
}

h2 {
  font-size: 36px;
}

h2.profile-name {
  margin-bottom: 1px;
}

h3 {
  font-size: 28;
}

.home-container {
  max-width: 700px;
}

li {
  font-size: 16px;
}

a {
  color: #258cdb;
}

a:hover {
  text-decoration: none;
  color: #2571db;
}

a:active {
  text-decoration: none;
}

a::selection {
  text-decoration: none;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.gallery img {
  padding: 15px;
  filter: grayscale(100%);
  transition: 1s;
}

.gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.see-more-button {
  text-align: center;
  color: #258cdb;
  text-decoration: none;
  margin: 20px;
  margin-bottom: 40px;
}
