#portfolio {
	padding-top: 9em;
	width: 90%;
	margin: 0 auto;
}

.work-item {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	padding-top: 5em;
	padding-bottom: 5em;
}

#iirs {
	opacity: 0;
}

#truein {
	flex-direction: row;
	opacity: 0;
}

.details {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-self: center;
	min-height: 300px;
}

.work-image-container {
	max-width: 55%;
	display: flex;
	align-items: center;
	padding: 20px;
}

.work-image {
	width: 100%;
	animation-delay: 0.25s !important;
	-webkit-transition: all 0.65s;
	-o-transition: all 0.65s;
	transition: all 0.65s;
}

.work-image:hover {
	animation-delay: 0.25s !important;
	-webkit-transition: all 0.65s;
	-o-transition: all 0.65s;
	transition: all 0.65s;
	transform: scale(1.05);
}

#meris {
	opacity: 0;
}

#meris .work-image {
	height: 400px;
	width: auto;
	animation-delay: 0.25s !important;
	-webkit-transition: all 0.65s;
	-o-transition: all 0.65s;
	transition: all 0.65s;
}

#meris .work-image:hover {
	animation-delay: 0.25s !important;
	-webkit-transition: all 0.65s;
	-o-transition: all 0.65s;
	transition: all 0.65s;
	transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
	#portfolio {
		padding-top: 7em;
		width: 100%;
		margin: 0 auto;
	}

	.details {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-self: center;
		min-height: 120px;
		text-align: center;
	}

	.work-image-container {
		max-width: 100%;
		padding: 0px;
	}

	.work-item {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	#truein {
		flex-direction: column;
	}

	.work-image {
		width: 100%;
	}

	#meris .work-image {
		height: 400px;
		width: auto;
        margin: 0 auto;
	}
}
