@import "tailwindcss";

html,
body {
  background-color: #000000;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-circular), Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@theme inline {
  --font-sans: var(--font-circular);
}
