@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .body-text {
    @apply font-[300] text-[4vw] sm:text-[3vw] md:text-[2vw] lg:text-[1vw] leading-[1.4] text-dark;
  }

  .navbar-text {
    @apply font-[300] text-[4vw] sm:text-[3vw] md:text-[2vw] lg:text-[1vw] leading-[1.4] text-dark;
  }

  .a-hover {
    @apply text-accent transition ease-in-out duration-300 cursor-pointer;
  }

}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background: #EDEBE9;
}

nav {
  padding: 1.5rem 2rem;
  position: sticky;
  top: 0;
  transition: transform 350ms ease-in;
}

nav.nav-bar--hidden {
  transform: translateY(-100%);
}